body .animate{
    width: 10vw;
    height: 10vh;
    border-top-left-radius: 15px;
    background-color: red;
    animation: dancing_div;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 5;
    animation-fill-mode: backwards;
    position: relative;
}
h1{
    background-color: red;
    color: white;
}
@keyframes dancing_div{
    0%{
        transform: rotate(0deg);
        top: 0px; left: 0px;
    }
    20%{
        transform: rotateY(60deg);
        background-color: rgb(8, 68, 121);
        color: aliceblue;
        left: 100px;top: 0px;
    }
    40%{
        transform: skew(40deg);
        background-color: rgb(240, 93, 9);
        color: aliceblue;
        left: 100px; top: 100px;
    }
    60%{
        transform: rotate(180deg);
        background-color: rgb(8, 185, 88);
        color: rgb(106, 83, 235);
        left: 0px; top: 100px;
    }
    80%{
        transform: rotate(280deg);
    }
    100%{
        left: 0px; top: 0px;
        transform: rotate(360deg); 
    }
}
body table{
    width: 100%;
}
body canvas{
    border: 2px solid #2020ee;
}
body table, td{
    border: 2px solid grey;
}